@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poiret+One&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  .font-major-mono {
    font-family: "Major Mono Display", monospace;
  }
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-poiret {
    font-family: "Poiret One", sans-serif;
  }
  .font-quicksand {
    font-family: "Quicksand", sans-serif;
  }
  .font-oswald {
    font-family: "Oswald", sans-serif;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
